* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(23, 153, 196);
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.935);
    width: 400px;
    padding: 30px;
    border-radius: 7px;
    
    header {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
    
    form {
        margin: 30px 0 20px 0;

    :where(input, select, button) {
        width: 100%;
        outline: none;
        border: none;
        border-radius: 5px;
    }

    .result {
        font-size: 17px;
        margin: 20px 0 30px;
    }

    button {
        height: 52px;
        color: #fff;
        background-color: rgb(23, 153, 196);
        font-size: 17px;
        cursor: pointer;
    }

    input {
            border: 1px solid rgb(153, 153, 153);
            height: 40px;
            padding: 0 15px;
            font-size: 17px;

        :focus {
            border: 2px solid rgb(23, 153, 196);
            padding: 0 14px;
        }
        
        }

        p {
            font-size: 18px;
            margin: 3px;
        }

        .drop-list {
            margin-top: 20px;
            align-items: center;
            justify-content: space-between;
            
            .icon {
                margin: 7px;
                font-size: 22px;
                cursor: pointer;
                margin-top: 30px;
            }
            .select-box {
                display: flex;
                width: auto;
                height: 45px;
                border: 1px solid #999;
                border-radius: 7px;
                justify-content: center;

                .select {
                width: auto;
                font-size: 16px;
                background: none;
                margin: 0 -5px 0 5px;
                
                }
                
            }
        }
        
}

}
